<h1>Inventário da Loja</h1>
<section>
  <table>
    <tr>
      <th>Fabricante</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Plano</th>
      <th>Quantidade</th>
      <th>Preço</th>
    </tr>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.manufacturer %></td>
        <td><%= inventory.model %></td>
        <td><%= inventory.color %></td>
        <td><%= inventory.carrier_plan_type %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.price %></td>
      </tr>
    <% end %>
  </table>
</section>
