<h1>Inventário da Loja</h1>
<h2><a><%= link_to "Fazer Upload de CSV", upload_api_v1_inventories_path %></a></h2>
<section>
  <%= search_form_for @q, url: api_v1_inventories_path do |f| %>

    # Search if the name field contains...
    <%= f.label :manufacturer_or_model_or_carrier_plan_type_cont %>
    <%= f.search_field :manufacturer_or_model_or_carrier_plan_type_cont %>

    <%= f.submit %>
  <% end %>
</section>
<section>
  <table>
    <tr>
      <th>Fabricante</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Plano</th>
      <th>Quantidade</th>
      <th>Preço</th>
    </tr>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.manufacturer %></td>
        <td><%= inventory.model %></td>
        <td><%= inventory.color %></td>
        <td><%= inventory.carrier_plan_type %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.price %></td>
      </tr>
    <% end %>
  </table>
</section>
